.keypad-container {
    display: flex;
    height: var(--keypad-height);
    width: var(--keypad-width);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

.numbers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: 80%;
    width: 75%;
}

.operators-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25%;
}

.sbumit-container {
    height: 20%;
    width: 100%;
}